@model ICollection<VehicleDTO>
@{
    ViewData["Title"] = "Veículos";
}

<h2>Veículos</h2>

<a asp-controller="Vehicles" asp-action="Create" class="btn btn-primary mb-3">+ Novo veículo</a>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Placa</th>
            <th>Proprietário</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VehicleDTO vehicle in Model)
        {
            <tr>
                <td>@vehicle.ID</td>
                <td>@vehicle.Type</td>
                <td>@vehicle.Plate</td>
                <td>@vehicle.Owner.Name</td>
                <td>@vehicle.Owner.State</td>
                <td>@vehicle.Owner.City</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-controller="Vehicles" asp-action="Details" asp-route-ID="@vehicle.ID">Detalhes</a>
                    <a class="btn btn-sm btn-warning" asp-controller="Vehicles" asp-action="Edit" asp-route-ID="@vehicle.ID">Editar</a>

                    <button type="button"
                            class="btn btn-sm btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal"
                            onclick="setDeleteId(@vehicle.ID)">
                        Excluir
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir esta pessoa?
            </div>
            <div class="modal-footer">
                <form asp-controller="Vehicles" asp-action="Delete" id="deleteForm" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function setDeleteId(id) {
            const form = document.getElementById("deleteForm");
            form.action = `/Vehicles/Delete/${id}`;
        }
    </script>
}
